@keyframes run {
  from {
    transform: translateX(0%)
  }

  to {
    transform: translateX(-100%)
  }
}

@keyframes run2 {
  from {
    transform: translateX(0%)
  }

  to {
    transform: translateX(-100%)
  }
}

@keyframes run3 {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(0)
  }
}

@keyframes leave {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes open {
  from {
    width: 0;
  }

  to {
    width: 11.11vh;
  }
}
